@import 'src/styles/colors';

$size: 480px;

.container {
  display: block;
  width: $size;
  height: $size;
  position: relative;
}

.svg {
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
}

.xAxis, .yAxis {
  path, line {
    stroke: $gray-blue-300;
  }

  text {
    stroke: $gray-blue-300;
    font-family: 'Montserrat', sans-serif;
  }
}

.point  {
  fill: $gray-blue-300;
}

.tick {
  text {
    color: $gray-blue-300;
  }
}

.cells {
  display: flex;
  flex-flow: row wrap;
  position: relative;
  z-index: 10;
}