@import 'src/styles/colors';

.marker {
  display: flex;
  width: 51px;
  height: 51px;
  background: $yellow-500;
  border-radius: 30px;
  justify-content: center;
  align-items: center;
  color: rgba(0,0,0,.5);
  box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.08), inset 0px 1px 1px 0px rgba(255,255,255,0.98);
  font-size: 18px;
}